*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



#Contianer{
    margin: auto;
    margin-top:20px ;
    /* background-color:aquamarine ; */
    height: 200px;
    width:60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */
    border-radius: 10px;
    box-shadow:inset;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    
}
#img_container img{
      height: 200px;
      width: 200px;
}

.btn{
    height: 25px;
    width: 70px;
    background-color: red;
    border: red;
    color: white;
    border-radius: 5px;

}

#totalPrice{

    width: 70%;
    margin-top: 15px;
    display: flex;
    justify-content:flex-end ;
    /* color: red; */
}