#productDetails main{
    height: 80%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
}
#price{
    color: red;
}

#productDetails main .btn{
    border: none;
    height: 25px;
    width: 100px;
    border-radius:5px ;
}

#productDetails main #btn1{
      background-color: blue;
      color: white;
}
#productDetails main #btn2{
      background-color: red;
      color: white;
}